main{
    display: flex;
    justify-content: space-evenly;
}
.main-text{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.main-txt{
    color: #000;
    font-family: Cardo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0 0 0;
}
.clean{
    color: #2B2B2B;
    font-family: Cardo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.books{
    display: flex;
    width: 825px;
}
.book-img{
    padding: 50 25 23 104;
}
.books .name{
    color: #000;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 55px 0 0 0;
}
.books .names {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.books .names .price{
    color: #000;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.books .quantity{
    display: flex;
    align-items: baseline;
    color: gray;
}
.books .author{
    color: #000;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 5px 0 10px 0;
}
.books .dicript{
    color: #000;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 0 10px 0;
}
.books a{
    text-decoration: none;
}
.books .cont{
    color: #4F4F4F;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.shop-line{
    display: flex;
    width: 799px;
    position: relative;
    left: 104;
}
.promo{
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.50);
}
.main-promo{
    color: #000;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 0 21px 17px;
}
.promo-line{
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.34);
    width: 320px;
    margin: 17 0 0 0;
}
.last-book{
    display: flex;
    justify-content: space-between;
}
.bloks1{
    padding: 125 0 0 166;
}
.code{
    width: 279px;
    height: 41px;
    flex-shrink: 0;
    border: none;
    position: relative; 
    left: 20px;
    padding: 0 0 0 10px;
}
.code-btn{
    width: 70px;
    height: 22px;
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    position: relative; 
    right: 58px;
}
.codes{
    display: flex;
    align-items: center;
}
.promo-text{
    display: flex;
    padding: 15px 0 0 27px;
}
.promo-btn{
    width: 210px;
    height: 44px;
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    margin: 10 0 0 55;
}
.numbers{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 30px 0;
}
.nums{
    display: flex;
    padding: 38.56px 0 13px 0;
    justify-content: end;
    color: gray;
}
.num a{
    text-decoration: none;
    color: gray;
}
.num a:hover{
    color: #000;
}
footer{
    width: 100%;
    height: 240px;
    background: #000;
    color: #FFF;
  }
  .d-flex{
    display: flex;
    justify-content: center;
    padding-top: 27px;
  }
  .webs,
  .helps,
  .contacts,
  .apps{
  display: grid;
  padding: 0 10% 0 0;
  }
  .webs a,
  .helps a,
  .contacts a,
  .apps a{
  text-decoration: none;
  color: white;
  }
  .hr-footer{
  width: 210px;
  height: 0;
  }
  .main-web,
  .main-help,
  .main-infor,
  .main-app
  {
  padding-bottom: 5px;
  }
  .web,
  .help,
  .infor,
  .app{
padding-bottom: 10px;
}