
.img{
    display: flex;
}
.img-text{
    color: #000;
    font-family: Cardo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ch{
    color: #000;
    font-family: Comfortaa;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.char{
    width: 431px;
    height: 24px;
    flex-shrink: 0;
}
.charas{
    width: 168px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid #000;
}
.name-charas{
    display: flex;
}
.genres{
    display: flex;
}
.add_delete{
    
}