.model {
    width: 325px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .model .pass{
    width: 10%;
    position: relative;
    top: 46px;
    right: 7px;
  }
  .model h1 {
    text-align: center;
    margin: 10px 0 4px 0;
  }
  .model h3 {
    text-align: center;
  }
  .model input[type="text"],
  .model input[type="password"] {
    background: #EDEDED;;
    width: 80%;
    padding: 12px 20px;
    margin: 5px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .model .btn {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .model .exit{
    background: none;
    border: none;
    float: right;
    position: relative;
    bottom: 49px;
    margin: 15px 0 -35px 0;
  }
  .model .exit{
    border-radius: 50%;
    background: black;
    color: white;
    width: 30px;
    height: 30px;
  }
  .model hr{
    position: relative;
    width: 364px;
    right: 20px;
  }